/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body,input,textarea,select
	{
		font-size: 11pt;
		line-height: 1.65em;
	}

/*********************************************************************************/
/* Footer                                                                        */
/*********************************************************************************/

	#footer
	{
		margin: 0;
		padding: 0;
	}

		.copyright
		{
			text-align: center;
			float: none;
		}